.card-popup__close {
    position: absolute;
    top: -50px;
    right: -50px;
    border-style: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: rgba(0,0,0,0);
    transition: ease-in 0.2s;
    background: url(../../../images/button-image/Close-Icon.svg) no-repeat center;
  }

  .card-popup__close:active {
    outline: none;
  }

  .card-popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  @media(max-width: 470px) {
    .card-popup__close {
      width: 30px;
      height: 30px;
      right: -30px;
    }
  }