.header__logo {
    background-image: url(../../../images/header/header__logo.svg);
    max-width: 147px;
    min-height: 33.4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4.6%;
  }
  
  @media (max-width: 768px) {
    .header__logo {
      margin: 7% 0 4.6% 8.75%
      }
  }
  
  @media (max-width: 320px) {
    .header__logo {
      max-width: 103.74px;
      max-height: 24.4px;
      margin: 7% 0 9.9% 8.75%;
      }
  }