.add-card__submit {
    background-color: black;
    border-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    min-height: 50px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    transition: ease-in 0.2s;
  }

  .add-card__submit:hover {
    background-color: rgba(0,0,0,.8);
    cursor: pointer;
  }