.element__like-button {
    min-width: 21px;
    height: 18px;
    background: url(../../../images/button-image/like-button.svg) center no-repeat;
    background-size: contain;
    border-style: none;
    margin: 27px 24px auto 0;
    transition: ease-in 0.2s;
    padding: 0;
  }

  .element__like-button_active {
    background: url(../../../images/button-image/like-button-active.svg);
  }

  .element__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  @media (max-width: 375px) {
    .element__like-button {
      margin-top: 32px;
      }
  }