.element__like-button {
    max-width: 21px;
    max-height: 18px;
    background-color: #FFFFFF;
    border-style: none;
    margin: 27px 24px auto 0;
    transition: ease-in 0.2s;
    padding: 0;
  }

  .element__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  @media (max-width: 375px) {
    .element__like-button {
      margin-top: 32px;
      }
  }