.profile__occupation {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    color: #FFFFFF;
    margin: 2px 0 0;
    width: 100%;
  }

  @media (max-width: 930px) {
    .profile__occupation {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      margin: 0 auto;
      }
  }